<li class="reviews__item">
    <div class="review">
        <div class="review__header">
            <div class="review__user">{{userName}}</div>
            <div class="review__location">{{location}}</div>
            <div class="review__date">{{date}}</div>  
        </div>
        <div class="review__text">{{commentText}}</div>
    </div>                                  
</li>